node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.vscode/
*.log
coverage/
*.local
*.sublime-workspace
*.sublime-project
*.swp
*.tmp
*.bak
*.orig
*.patch
*.lock
*.zip
*.7z
*.rar
*.tar
*.gz
*.tgz
*.cache/
*.eslintcache
*.tsbuildinfo
*.test.*
test-results/
firepredict.iml